@import 'vari';

    * { 
        padding:0;
        margin: 0;
    }
 
body {
        background: $backgroundMain;
        color: $textMain;
        font-family: $mainFont;
        font-size: 2vw;
        overflow-x: hidden;
    }


    a {
        text-decoration: none;
        color: $highlight;
    }

    h1 {
        margin:7% 12%;
        font-size: 2.75vw;
    }

    h2 {
        margin:7% 12%;
        font-size: 2.5vw;
    }

    h3 {
        margin:7% 12%;
        font-size: 2.25vw;
    }

    p {
        font-size: 1.35vw;
        margin: 10% 15%;
        line-height: 1.5;
    }

    //to-the-top-button

    .quick {
        @include glassBack();

        position: fixed;
        bottom: 0;
        left: 0;
        padding: 2px;
        margin-left: 1%;
        transform: translateY(-50%);
        font-weight: bold;
        z-index: 3;
        transition: 0.04s 0.2s;
        cursor: default;
        border-radius: 8px;
        


        &:hover {
            text-shadow: 1px 1px 8px  $textSecond;
        }
    }

    


    	/* Container holding the image and the text */
    	.entryImg {
    	    position: relative;
    	    text-align: center;
    	    color: $backgroundMain;
    	    overflow-x: hidden;


    	    img {
    	        max-width: 100%;
    	    }
    	}

    	/* Centered text */
    	.centered {
    	    position: absolute;
    	    top: 35%;
    	    left: 35%;
    	    transform: translate(-50%, -50%);
            text-transform: capitalize;
    	    background: #0a327628;
    	    box-shadow: 0 3px 12px 3px $textMain;
    	    backdrop-filter: blur(1.5px);
    	    -webkit-backdrop-filter: blur(1.5px);
    	    border: 3px solid rgba(255, 255, 255, 0.18);
    	    border-radius: 3px;

    	    h1 {

    	        margin: 0 5%;
                padding: 1%;
    	    }
    	}

        .bigger {
            width: 100%;

            .centered {
                h1 {
                    margin: 0 -4%;
                }
            }
        }



    //respo

      @media (max-width: 991px) {
        p, h1, h2, h3 {
            margin: 13%;
        }

        .feature-text {
            
                font-size: 2.75vw;
            
        }
      }

      @media (max-width: 768px) {
         
        h1{
            font-size: 4.5vw;
            margin:15% 12%;
        }

        h2{
            font-size:4vw;
            margin:15% 10%;
        }

        h3{
            font-size:3.75vw;
            margin:15% 10%;
        }
        
        p {
            margin:15% 10%;
            font-size: 3.5vw;
        }

        a{
            font-size:3.5vw;
        }

        .quick{
            margin-bottom: 25%;
            background: $backgroundMain;
        }

        .bigger {
            
                margin:0 7% 10% 0;
            }
        
            .entryImg {
               margin:0;

                img {
                    max-width: 100%;
                    max-height: 100%;
                }
            }

        //prodPage

        .list {
            font-size: 3.5vw;
        }


        #bottom20{
            margin-bottom:150px;
        }

        #bottom {
            margin: 70% 0;
        }

        #bottom80 {
            margin: 20% 0 25% 4%;
        }
      }

     

